.reveal {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform, opacity;
}

.up {
  transform: translateY(35px);
}

.down {
  transform: translateY(-35px);
}

.left {
  transform: translateX(35px);
}

.right {
  transform: translateX(-35px);
}

.none {
  transform: none;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}
